.header{
	color: blue;
	font-size: 30px;
	text-align: center;
}
.container{
	margin-left: 200px;
}
.container__title{
	font-size: 20px;
}
.container a:visited{
	color: blue;
}
.container a:hover{
	color: red;
}