.wrapper__header{
	color: blue;
	font-size: 30px;
	text-align: center;
}
.wrapper__container{
	margin-left: 200px;
}
.wrapper__container__title{
	font-size: 20px;
}
.wrapper__container__a:visited{
	color: blue;
}
.wrapper__container__a:hover{
	color: red;
}