html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style-type: none;
	display: flex;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container {
	width: 950px;
	margin:40px auto;
	position: relative;
	height: 598px;
	background-image: url("../images/bg_itm_lineup.jpg");
	background-repeat: no-repeat;
}

.slider__inner {
	position: absolute;
	width: 648px;
	height: 335px;	
	top: 100px;
	left: 170px;
	overflow: hidden;
}

.slider__list {
	 position: relative;
	 list-style-type: none;
	 display: inline-block;
	 width: 600%;
}

.slider__list  li {
	display: inline-block !important; 
}

.slider__list__item-active {
	opacity: 1;
}

.slider__prev, .slider__next {
	position: absolute;
	top: 40%;
	cursor: pointer;
}

.slider__next {
	right: 30px;
}

.slider__prev {
	left: 50px;
}

.slider__icons {
	position: absolute;
	bottom: 0;
	left: 23%;
}
/*







