.container {
	height: 900px;
	position: relative;
	overflow: hidden;
}
.bg__leave1 {
	position: absolute;
	left: 0;
	top: 0;
}

.bg__leave2 {
	position: absolute;
	top: 0;
	right: 0;
}

.js-leave{
	position: absolute;
	top:-200px;
	left: 0;
}
