/*Start Reset CSS*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*End Reset CSS*/

body {
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #595959;
}

a {
	text-decoration: none;
 	color: white;
}

hr {
	margin-top: 15px;
	border: none;
	border-top: 1px dotted #3f3f41;
}

.container {
	width: 1031px;
	margin:auto;
	background-color: #121214;
}

.moreinfo  {
	margin-top:15px;
	display: flex;
}

.moreinfo img {
	margin-right: 7px;

}
 
 /*Strat CSS container__left*/
 .left {
 	margin-left: 48px;
 	margin-right: 25px;
 	width: 407px;
 	float: left;
 }

.left__title {
	margin-top: 35px;
}

.left__article1 {
	margin-top: 35px;
}

 .left__article1__img1 {
 	margin-right: 25px;
 	margin-bottom: 35px;
 	margin-left: 4px;
 	width: 130px;
 	height: 93px;
 	float: left;
 }

.left__article1__comment {
	margin-left: 15px;
}

 .left__article1__info {
 	margin-top: 20px;
 }

.left__article2 {
	margin-top: 85px;
	margin-bottom: 30px;
}

.left__article2__list {
	display: flex;
	line-height: 2;
	margin-top: 20px;
	border-bottom: 1px dotted;
	width: 390px;
	padding-bottom: 20px;
}

.left__article2__list ul {
	margin-right: 12px;
	list-style: url("../images/arr.gif");
	list-style-position: inside;
}

.left__article2__list li a {
	color: #595959;
	text-decoration: underline;
}
/*End CSS container__left*/

/*Start CSS container__right*/
.right {
	margin-top: 10px;
	width: 238px;
	float: left;
	background-color: #232326;
}

.right__wrapper {
	margin: 70px 30px 40px;
	width: 190px;
	height: 280px;
	border-top: 1px	 dotted;
}

.right__wraper__img {
	margin-top: 30px;
	margin-bottom: 20px;
}

.right__wrapper__info {
	margin-bottom: 50px;
	margin-top: 10px;
}

.right__wrapper__info p:nth-child(n+2){
	color: #767884;
}

/*End CSS container__right*/

.clear{
	clear: both;
	float: none;
}
