/*Start Reset CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*End Reset CSS*/

/*Start CSS wrapper*/
.wrapper  {
	margin: 10px auto;
	padding-bottom: 15px;
	width: 317px;
	background-color: #e6f3fb;
	font-size: 12px;
	line-height: 15px;
	font-family: Arial, Helvetica, sans-serif;
}
/*End CSS wrapper*/

.container {
	width: 297px;
	margin: auto;
}

a {
	color: #0461a9;
	text-decoration: none;
}

.blogroll__info, 
.horoscopes__info, 
.container__block3__info, 
.container__block4__info {
	padding-top: 5px;
	border-top: 4px solid #f3a417;
	background-color: #ffffff;
}

.title {
	font-weight: bold;
	font-size: 12px;
}

 /*Start CSS blogroll*/
.blogroll__info img {
	margin:0px 8px;
	float: left;
}

 .blogroll__info__title {
 	margin-top: 5px;
 	color: #0f5d85;
 	font-weight: bold;
 }

.clear {
	clear: both;
 	float: none;
}

 .blogroll__info__list  li {
 	margin-bottom: 1px;
 	padding-top: 5px;
 	padding-left: 10px;
 	height: 20px;
 	background-color: #fbf0c0;

 }
 /*End CSS blogroll*/

/*Start CSS Horoscopes*/ 
.container__horoscopes {
	margin-top: 5px;
}

.horoscopes__info {
	overflow: hidden;
}
 .horoscopes__info__img{
 	margin-left: 15px;
 	margin-top: 20px;
 	width: 111px;
 	height: 141px;
 	float: left;
 }

.horoscopes__info__title {
	margin-top: 25px;
	font-size: 11px;
 	font-weight: bold;
}

 .horoscopes__info__date {
 	color: #c5c5c5;
 }

.horoscopes__info p:last-child {
	margin-top: 12px;
	margin-right: 20px;
	font-size: 9px;
}
.horoscopes__footer {
	background-image: url("../images/img3.png");
	background-repeat: no-repeat;
	width: 296px;
    height: 48px;
}

.horoscopes__footer__text {
	padding:13px 22px;
}
/*End CSS horoscopes*/

/*Start CSS block3*/
.container__block3 {
	margin-top: 20px;
}

.container__block3__info img {
	max-width: 115px;
	max-height: 113px;
	float: right;
}
.block3__info__text {
	/* margin:34px 0 0 27px; */
	margin-left: 22px;
	margin-top: 24px;
	width: 133px;
	height: 76px;
}

.block3__info__text p {
	margin-bottom: 10px;
}
/*End CSS block3*/

/*Start CSS competions*/
.container__competions {
	margin-top: 5px;
	border-top: 1px solid #595959;
}

.compettions__list {
	padding-left: 10px;
	padding-top: 12px;
	padding-bottom: 12px;
	border: 1px solid #595959;
	background-color: #fff;
}

.compettions__list li a {
	color: #4d5d73;
}
/*Start CSS compettion*/