html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	/*border: 1px solid black;*/
	width: 360px;
}

table th {
	border: 1px solid black;
	text-align: center;
	width: 48px;
}
img {
	display: inline-block;
}

.container {
	width: 800px;
	margin: 10px auto;
}
.calender {
	display: none;
}
.calender__header tr th {
	background-color: #a9cce3; 
}

.calender__content tr td {
	border: 1px solid black;
	width: 0px;
}

.calender__content tr:nth-child(1) th {
	color: #7b2481;
	background-color: #3498db;
}

.btn-prev-year {
	background: url("../images/pic_prev2.png");
	background-repeat: no-repeat;
	width: 50px;
	height: 30px;
}
.btn-prev-month {
	background: url("../images/pic_prev1.png");
	background-repeat: no-repeat;
	width: 50px;
	height: 30px;
}

.btn-next-moth {
	background: url("../images/pic_next1.png");
	background-repeat: no-repeat;
	width: 50px;
	height: 30px;
}

.btn-next-year {
	background: url("../images/pic_next2.png");
	background-repeat: no-repeat;
	width: 50px;
	height: 30px;
}


.frm__birthday {
	background-image: url("../images/pic_icon_calenter.png");
	background-repeat: no-repeat;
	background-position: right;
	background-size: contain;
	/*height: 20px;*/
	/*vertical-align: middle;*/
}


.frm__input {
	width: 200px;
	margin-top: 11px;
}

.frmInfo__Info tr td:nth-child(1) {
	text-align: center;
	font-size: 15px;
	width: 200px;

}

.message {
	width: 200px;
	color: red;
}

.table1.table2{width: 100px;}

.btn {
	background-color: #2471a3;
	width: 64px;
	height: 33px;
	color: #ffffff;
	margin-top: 10px;
}

.btn-submit {
	margin-left: 70px;
}
