html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container {
	max-width: 400px;
	width: 100%;
	margin: auto;
}

.inner {
	max-width: 400px;
	width: 100%;
	position: relative;
}

.popup {
	position: absolute;
	z-index: 9;
	border: 1px solid #a37e23;
	background: white;
	top: -500px;
	border-radius: 2px;
	width: 100%;
}
.popup__body__box {
	width: 90%;
}
.popup h1 {
	text-align: center;
	color: #a37e23;
	font-size: 20px;
}

.popup__header img {
	position: absolute;
	top: -20px;
	right: -20px;
}

.menu {
	list-style-type: none;
	margin: 40px auto;
	max-width: 269px;
	width: 100%
}

.menu li {
	border: 1px solid #a37e23;
	max-width: 269px;
	width: 100% 
}

.menu li p {
	height: 0px;
	max-width: 269px;
	width: 100%;
}

.menu li span {
 display: block;
 text-align: center;
 font-size: 20px;
 color: blue;
}

.menu li img:first-child {
	display: block;
		max-width: 269px;
	width: 100%;
}
.about {
	margin-top: 20px; 
	margin: auto;
	display: block;
	/* width: 142px; */
}
