/*Start Reset CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	/* font-size: 100%; */
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*End Reset CSS*/

.wrapper {
	padding-bottom: 70px;
	margin: auto;
	width: 1263px;
	background-color: #121212;
	color: #595959;
	font-size: 13px;
	line-height: 1.63;
	font-family: "Times New Roman", Times, serif;
}

/*Start CSS header*/
.header {
		background-image: url("../images/logo_header.png");
		height: 253px;
		position: relative;
}


.header__menu {
	position: absolute;
	width: 730px;
	bottom: -70px;
	left: 70px;
	color: white;
	font-size: 20px;
	text-align: center;
}

.header__menu li {
	float: left;
	margin-right: 8px;
}

.header__menu li img {
	width: 138px;
	height: 85px;
}
/*End CSS header*/

/*Start CSS content__left*/
.content {
	margin: 110px 0 0 70px;

}
.content__left {
	width: 237px;
	background-color: #1f1f1f;
	padding-top: 45px;
	margin-right: 40px;
	float: left;
	padding-bottom: 32px;
}

.content__left__inner {
	width: 192px;
	height: 284px;
	margin-left: 18px;
	padding-bottom: 47px;
	border-top: 1px solid #7e7e7e;
}
.content__left__inner p {
	margin-left: 12px;
	margin-top: 26px;
	border-bottom: 1px solid #2c2c2c;
	padding-bottom: 65px;
}

.content__left__inner ul {
	/* margin: 65px 22px 0px; */
	margin-top: 28px;
	/* padding-bottom: 92px; */
	list-style: url("../images/pic_arr.gif");
	list-style-position: inside;
}
.content__left__inner li {
	margin-bottom: 11px;
	margin-left: 20px;
}

.content__left__inner li a{
	color:#707070;
}

/*End CSS content__left*/

/*Start CSS content__right*/
.content__right{
	float: left;
	width: 402px;
	/* padding-bottom: 70px; */
}

.content__right__inner {
	margin-top: 42px;
	width: 393px;
	height: 527px;
	padding-bottom: 70px;
}

.inner__text__pic2 {
	margin-bottom: 12px;
	width: 114px;
	height: 19px;
	background: #2c2c2c;
	border: none;
}
.inner__info__text a {
	text-decoration: none;
	color:white;
}

.inner__info__text {
	margin-top: 20px;
	margin-left: 12px;
}

.inner__link {
	margin-top: 15px;
	padding-top: 10px;
	border-top: 1px dotted;
}

.inner__banner2 {
	margin-top: 38px;
}

/*End CSS content*/

.clear {
	clear: both;
	float: none;
}
/*Start CSS footer*/
.footer {
	margin: 70px 0 0 65px;
	padding-top: 25px;
	padding-left: 8px;
	width: 700px;
	border-top: 1px dotted;
}
/*End CSS footer*/
393 527