/*Start Reset CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	/* font-size: 100%; */
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*End Reset CSS*/

.wrapper {
	width: 1263px;
	margin: auto;
	background-color: #121212;
	color: #595959;
	font-size: 11px;
	line-height: 1.63;
	padding-bottom: 70px;
	font-family: Georgia,  serif;
}

/*Start CSS header*/
.wrapper__header {
		background-image: url("../images/logo_01.png");
		height: 253px;
		position: relative;
}


.header__menu {
	position: absolute;
	width: 730px;
	bottom: -70px;
	left: 70px;
	color: white;
	font-size: 20px;
	text-align: center;
}

.header__menu li {
	float: left;
	margin-right: 8px;
}

.header__menu li img {
	width: 138px;
	height: 85px;
}
/*End CSS header*/

/*Start CSS content__left*/
.wrapper__content {
	margin: 110px 0 0 70px;
}
.content__left {
	width: 237px;
	background-color: #1f1f1f;
	padding-top: 45px;
	margin-right: 40px;
	float: left;
}

.left__info1 {
	border-top: 1px solid #7e7e7e;
	padding-top: 20px;
	margin: 0px 22px;
	width: 183px;
}

.left__info1 p {
	margin-left: 12px;
}

.left__info2 {
	border-top: 1px solid #2c2c2c;
	padding-top: 30px;
	padding-bottom: 38px;
	margin: 65px 22px 0px;
}

.left__info2  {
	list-style: url("../images/arr.gif");
	list-style-position: inside; 

}

.left__info2 li {
	margin-bottom: 12px;
	margin-left: 23px;
}

.left__info2 li a{
	color:#707070;
}
/*End CSS content__left*/

/*Start CSS content__right*/
.content__right{
	float: left;
	width: 402px;
}

.right__info {
	margin-top: 42px;
}

.right__info_pic2 {
	margin: 20px 0 12px 12px;
}
.right__info a {
	text-decoration: none;
	color:white;
}

.content__right p {
	margin-left: 12px;
}

.right__info p:last-child {
	border-top: 1px dotted;
	padding-top: 10px;
	margin-top: 15px;
}

/*End CSS content*/

.clear {
	clear: both;
	float: none;
}
/*Start CSS footer*/
.footer {
	border-top: 1px dotted;
	width: 700px;
	margin: 70px 0 0 65px;
	padding-top: 25px;
	padding-left: 8px;
}
/*End CSS footer*/